.example-container-css {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	margin: 10px auto;
}

.example-container-css .vm-child {
	position: absolute;
	display: block;
	margin: 0 auto;
	max-width: 100%;
	left: 0;
	top: 0;
	transition: all ease .2s;
}

.example-container-css .vm-child span {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 20px;
	color: white;
}

.example-container-css .vm-child.vm-behind { transform: translateX(-80%) scale(0.8); }
.example-container-css .vm-child.vm-ahead { transform: translateX(80%) scale(0.8); }

.example-container-css .vm-child.vm-beyond {
	opacity: 0;
	z-index: 0;
}

.example-container-css .vm-child.vm-behind.vm-beyond { transform: translateX(-160%) scale(0.6); }
.example-container-css .vm-child.vm-ahead.vm-beyond { transform: translateX(160%) scale(0.6); }

/* .example-container-css.vm-infinite .vm-child.vm-beyond {
	transform: scale(0.6);
} */

.example-container-css.example-vertical {
	overflow: hidden;
}

.example-container-css.example-vertical .vm-child.vm-behind { transform: translateY(-80%); }
.example-container-css.example-vertical .vm-child.vm-ahead { transform: translateY(80%); }
