.example-container {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	margin: 10px auto;
}

.example-container .vm-child {
	position: absolute;
	display: block;
	margin: 0 auto;
	max-width: 100%;
	left: 0;
	top: 0;
}

.example-container .vm-child span {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 20px;
	color: white;
}

.example-container.vm-element .vm-child {
	transition: all ease .2s;
}

.example-container .vm-child.vm-current {
	z-index: 2;
}

.example-container .vm-child.vm-behind,
.example-container .vm-child.vm-ahead {
	z-index: 1;
}

.example-container .vm-child.vm-behind { transform: translateX(-90%) scale(0.8); }
.example-container .vm-child.vm-ahead { transform: translateX(90%) scale(0.8); }

.example-container .vm-child.vm-beyond {
	opacity: 0;
	left: 0;
	z-index: 0;
}

.example-container.vm-infinite .vm-child.vm-beyond {
	transform: scale(0.6);
}

.example-container.example-3 {
	overflow: hidden;
}

.example-container.example-3 .vm-child.vm-behind { transform: translateY(-90%); }
.example-container.example-3 .vm-child.vm-ahead { transform: translateY(90%); }
