* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.4;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

hr {
	box-sizing: content-box;
	overflow: visible;
	border: none;
	height: 1px;
	margin: 30px 0;
	background: #333;
}

.overflower {
	overflow: hidden;
}

.container {
	max-width: 640px;
	margin: 0px auto;
	padding: 20px;
}

.container header nav a {
	margin: 0px 10px;
}

.container header nav a:first-child { margin-left: 0px; }
.container header nav a:last-child { margin-right: 0px; }

.example {
	margin: 30px 0px;
}

.example pre,
.example code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: .875em;
}

.example pre {
	position: relative;
	margin: 20px 0;
	padding: 10px;
	border: 1px solid rgb(255, 198, 100);
	background: rgb(252, 219, 169);
	overflow: auto;
}

.example pre::before {
	position: absolute;
	right: 10px;
	top: 10px;
	content: '</>';
	color: rgba(161, 140, 109, 0.5);
	font-weight: bold;
	font-size: 20px;
}

.example code {
	padding: 1px 5px;
	border-radius: 4px;
	background: #f9f2f4;
	color: #c7254e;
}

.example-button {
	cursor: pointer;
	border: none;
	color: #fff;
	background: #666;
	padding: 5px 10px;
	line-height: 20px;
}

.example-button:hover {
	background: #333;
}

.example-button:disabled {
	background: #666;
	opacity: 0.5;
}

.align-center {
	text-align: center;
}
